################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/FinancialNineCore/DesignTimeBuild/.dtbcache.v2
/.vs/FinancialNineCore/FileContentIndex/f99065b1-7195-489e-9c6e-d95eb0e65b96.vsidx
/.vs/FinancialNineCore/FileContentIndex/b5595802-53b0-4573-838b-d57dbfdaea3e.vsidx
/.vs/FinancialNineCore/FileContentIndex/804faa6c-3963-4c28-a5bd-1517c10d922d.vsidx
/.vs/FinancialNineCore/FileContentIndex/6d86a8a2-95da-47ad-9252-371e00c059b2.vsidx
/.vs/FinancialNineCore/FileContentIndex/4de3ecda-117b-4e9e-89f4-9630de45569a.vsidx
/.vs/FinancialNineCore/FileContentIndex/42720755-67c4-4f71-853b-8d90db3c7d4b.vsidx
/.vs/FinancialNineCore/FileContentIndex/3b0ecae6-85c8-4d07-8aba-f1589c27f671.vsidx
/.vs/FinancialNineCore/FileContentIndex/32309bdb-d6a1-4cb7-951c-0b1a190df700.vsidx
/.vs/FinancialNineCore/v17/.suo
/.vs/FinancialNineCore/v17/.futdcache.v2
/.vs/ProjectEvaluation/financialninecore.projects.v6.1
/.vs/ProjectEvaluation/financialninecore.metadata.v6.1
/Domain/bin/Debug/net7.0/Entities.pdb
/Domain/bin/Debug/net7.0/Entities.dll
/Domain/bin/Debug/net7.0/Domain.pdb
/Domain/bin/Debug/net7.0/Domain.dll
/Domain/obj/Debug/net7.0/Domain.pdb
/Domain/obj/Debug/net7.0/Domain.dll
/Domain/obj/Debug/net7.0/Domain.csproj.BuildWithSkipAnalyzers
/Domain/obj/Debug/net7.0/Domain.csproj.AssemblyReference.cache
/Entities/bin/Debug/net7.0/Entities.pdb
/Entities/bin/Debug/net7.0/Entities.dll
/Entities/obj/Debug/net7.0/Entities.pdb
/Entities/obj/Debug/net7.0/Entities.dll
/Entities/obj/Debug/net7.0/Entities.csproj.BuildWithSkipAnalyzers
/Infra/bin/Debug/net7.0/Infra.pdb
/Infra/bin/Debug/net7.0/Infra.dll
/Infra/bin/Debug/net7.0/Entities.pdb
/Infra/bin/Debug/net7.0/Entities.dll
/Infra/bin/Debug/net7.0/Domain.pdb
/Infra/bin/Debug/net7.0/Domain.dll
/Infra/obj/Debug/net7.0/ref/Infra.dll
/Infra/obj/Debug/net7.0/refint/Infra.dll
/Infra/obj/Debug/net7.0/Infra.pdb
/Infra/obj/Debug/net7.0/Infra.dll
/Infra/obj/Debug/net7.0/Infra.csproj.BuildWithSkipAnalyzers
/Infra/obj/Debug/net7.0/Infra.csproj.AssemblyReference.cache
/WebApi/bin/Debug/net7.0/WebApi.pdb
/WebApi/bin/Debug/net7.0/WebApi.dll
/WebApi/bin/Debug/net7.0/Infra.pdb
/WebApi/bin/Debug/net7.0/Infra.dll
/WebApi/bin/Debug/net7.0/Entities.pdb
/WebApi/bin/Debug/net7.0/Entities.dll
/WebApi/bin/Debug/net7.0/Domain.pdb
/WebApi/bin/Debug/net7.0/Domain.dll
/WebApi/bin/Debug/net7.0/appsettings.json
/WebApi/obj/Debug/net7.0/WebApi.pdb
/WebApi/obj/Debug/net7.0/WebApi.dll
/WebApi/obj/Debug/net7.0/WebApi.csproj.BuildWithSkipAnalyzers
/WebApi/obj/Debug/net7.0/WebApi.csproj.AssemblyReference.cache
/WebApi/obj/Debug/net7.0/refint/WebApi.dll
/WebApi/obj/Debug/net7.0/ref/WebApi.dll
